body { font-family:Arial; font-size:1em; margin:1em; background:#F6F6F6; line-height:1.5em;	color:#333333; }
input, select {	border:1px solid #666666; font-size:1.4em; margin-bottom:0.5em; }
label {	display:block; font-size:1.2em; }
.round, input { -webkit-border-radius: 7px; }
h1 { margin:0 0 20px 0; font-size:1.4em;	font-weight:normal; }
.wrapper{ overflow:hidden; clear:both; width:100%; margin:0 0 0.6em 0;}
.left  { width:20%; float:left; }
.right { width:80%; float:right; }
.smallfont { font-size:0.8em;}
.floatLeftImage { float:left; margin:0 15px 15px 0; }